BOT_TOKEN=your_telegram_bot_token_here
# MongoDB Atlas connection string. Database name "premium_bot" is created automatically.
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=YourApp
ADMIN_IDS=123456789,987654321
SOURCE_CHANNEL_ID=your_private_channel_id_here
LOG_CHANNEL_ID=your_log_channel_id_here
QR_IMAGE_URL=https://i.ibb.co/dsc6Qxmm/IMG-20260705-WA0000.jpg
SUPPORT_GROUP_URL=https://t.me/+i7Ox197t4205MTQ1
# VC Store automatic payment verification
VC_API_KEY=your_vc_store_api_key_here
VC_API_URL=https://vcapi.vcstore.site/payment_api.php
